In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("stats (26) - Copy.csv")

df.head()

,Name,player_id,year,player_age,ab,pa,H,1B,2B,3B,HR,K,BB,RBI,CS,SB,GIDP
0,"Pujols, Albert",405395,2020,40,152,163,34,20,8,0,6,25,9,25,0,0,4
1,"Cabrera, Miguel",408234,2020,37,204,231,51,37,4,0,10,51,24,35,0,1,3
2,"Choo, Shin-Soo",425783,2020,37,110,127,26,18,3,0,5,33,13,15,2,6,1
3,"Molina, Yadier",425877,2020,37,145,156,38,32,2,0,4,21,6,16,0,0,7
4,"Canó, Robinson",429664,2020,37,171,182,54,35,9,0,10,24,9,30,0,0,7

In [6]:
df.info()
df[['age', 'season']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2619 entries, 0 to 2618
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        2619 non-null   object
 1   player_id   2619 non-null   int64
 2   year        2619 non-null   int64
 3   player_age  2619 non-null   int64
 4   ab          2619 non-null   int64
 5   pa          2619 non-null   int64
 6   H           2619 non-null   int64
 7   1B          2619 non-null   int64
 8   2B          2619 non-null   int64
 9   3B          2619 non-null   int64
 10  HR          2619 non-null   int64
 11  K           2619 non-null   int64
 12  BB          2619 non-null   int64
 13  RBI         2619 non-null   int64
 14  CS          2619 non-null   int64
 15  SB          2619 non-null   int64
 16  GIDP        2619 non-null   int64
dtypes: int64(16), object(1)
memory usage: 348.0+ KB

KeyError: "None of [Index(['age', 'season'], dtype='object')] are in the [columns]"